:root {
    --bg-color: #F5F5F5;
    --action-color: #E2D784;
    --secondary-color: #05595B;
    --main-color: #062C30;
}

#intro-section {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/Wolferado/AppArt/main/materials/london%20-%2001.png");
}

#intro-section h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#event-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 40%;
    height: 40%;
    border: 3px #05595B solid;
    border-radius: 20px;
}

.card img {
    width: 60%;
    height: 60%;
}

nav a:nth-of-type(3) {
    color: #FED831; 
}

#event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.event {
    display: grid;
    grid-template-rows: 2 1 1 1.5;
    grid-template-columns: 50% 50%;
    width: 31%;
    height: 60%;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px #000000 solid;
    background-color: #FFFFFF;
}

.event img {
    width: 199%;
    grid-row: 1;
    grid-column: 1 / 2;
    border: 1px #000000 solid;
}

.event h3 {
    padding-left: 25px;
    width: 200%;
    grid-row: 2;
    grid-column: 1 / 2;
}

.event p {
    padding-left: 25px;
    width: 180%;
    grid-row: 3;
    grid-column: 1/2;
}

.event input {
    grid-row: 4;
    grid-column: 1;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background-color: #FED831;
    color: #000000;
    box-shadow: 0px 2px 5px #8e8e8e;
    border-radius: 10px;
    width: 90%;
    margin: 25px;
    cursor: pointer;
}

.event a {
    color: #FED831;
    font-weight: bold;
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    align-self: center;
    cursor: not-allowed;
}

#overlay-screen {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000076;
    justify-content: center;
    align-items: center;
}

.event-expand {
    border: 2px #000000 solid;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F5F5;
    height: 70%;
}

.event-expand img {
    width: 65%;
    height: 50%;
    border: 1px #000000 solid;
}

.event-expand input {
    display: inline;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    background-color: #FED831;
    color: #000000;
    box-shadow: 0px 2px 5px #8e8e8e;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 10px;
}

.event-expand h3 {
    font-weight: 500;
}

.event-expand input:nth-last-of-type(1) {
    cursor: not-allowed;
}