:root {
    --bg-color: #F5F5F5;
    --action-color: #E2D784;
    --secondary-color: #05595B;
    --main-color: #062C30;
}

#intro-section {
    display: flex;
    justify-content: center;
}

#intro-section h1 {
    font-size: 48px;
}

#event-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 40%;
    height: 40%;
    border: 3px #05595B solid;
    border-radius: 20px;
}

.card img {
    width: 60%;
    height: 60%;
}