:root {
    --bg-color: #F5F5F5;
    --action-color: #E2D784;
    --secondary-color: #05595B;
    --main-color: #062C30;
}

* {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--main-color);
    color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a:nth-of-type(2) {
    font-size: 40px;
}


a {
    text-decoration: none;
    color: var(--bg-color);
}

a:visited {
    color: inherit;
}