:root {
    --bg-color: #F5F5F5;
    --action-color: #E2D784;
    --secondary-color: #05595B;
    --main-color: #062C30;
}

* {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

#img {
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo {
    position: absolute;
    margin-top: 10px;
    left: 5%;
}

a .material-icons {
    display: none;
}

nav {
    position: relative;
    top: 0px;
    width: 95%;
    height: 100px;
    background-color: transparent;
    color: #F5F5F5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

nav a {
    margin: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

nav a:nth-of-type(2), nav a:nth-of-type(4) {
    cursor: not-allowed;
}

nav a:last-of-type {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--bg-color);
}

a:visited {
    color: inherit;
}