#user-form {
    background-image: url("/materials/london\ -\ 01.png");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#user-form h2 {
    align-self: center;
}

#registration-form {
    display: none;
    flex-direction: column;
}

#registration-form label {
    margin-top: 30px;
}

#registration-form input:nth-last-child(1) {
    margin-top: 15px;
    width: 30%;
    align-self: flex-end;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
}

#sign-in-form label {
    margin-top: 30px;
}

#sign-in-form input:nth-last-child(1) {
    margin-top: 15px;
    width: 30%;
    align-self: flex-end;
}

nav a {
    margin: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

nav a:nth-of-type(5) {
    color: #FED831;
    border: 1px #FED831 solid;
}