#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-settings {
    display: flex;
    justify-content: center;
}

#profile-settings, input {
    margin: 20px;
}